<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head lang="en" th:replace="fragments/header :: header">
	<meta charset="UTF-8" />
	<title>home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Trang chủ</title>
</head>

<body>
	<!--header-->
	<div id="header" class="container-fluid">
		<nav class="navbar navbar-inverse none_nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img th:src="@{/Image/icon_logo_shop.png}" height="35px" /></a>
				</div>
				<ul class="nav navbar-nav navbar-center">
					<li class="active"><a href="#">TRANG CHỦ</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Sản Phẩm <span
								class="caret"></span></a>
						<ul class="dropdown-menu">
							<c:forEach var="danhmuc" items="${listDanhMuc}">
								<li><a href="<c:url value="
										/sanpham/${danhmuc.getMadanhmuc()}/${danhmuc.getTendanhmuc()}" />">${danhmuc.getTendanhmuc()}</a>
								</li>
								<li role="separator" class="divider"></li>
							</c:forEach>
						</ul>
					</li>
					<li><a href="#">DỊCH VỤ</a></li>
					<li><a href="#">LIÊN HỆ</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<div class="khungdangnhap">
						<div>
							<c:choose>
								<c:when test="${chucaidau !=null}">
									<li><a href="dangnhap/"><span class="circke-avatar">${chucaidau}</span></a></li>
								</c:when>
								<c:otherwise>
									<li><a href="dangnhap/"><span>Đăng Nhập</span></a></li>
								</c:otherwise>
							</c:choose>
						</div>
						<div>
							<li><a href="#"><img th:src="@{/Image/icons8-shopping-cart-60.png}" height="35px" /></a>
							</li>
						</div>
					</div>
				</ul>

			</div>
		</nav>
	</div>
	<!-- end header -->

	<!-- Show Prosduct-->
	
<div class="sanphamhot" ><span>SẢN PHẨM HOT</span></div>
		<div class="row">
	<div id="title-sanpham" class="container">
			<th:block th:each="product: ${product}">
			 <a href="chitiet/${product.id}">	
				<div class="col-sm-6 col-md-3 sanpham wow animate__backInDown">
					<img th:src="@{'/Image/sanpham/'+${product.image}}"><br />
					<span th:text="${product.name}"></span><br />
					<span style="color: red;" th:text="${product.price}"></span>
				</div>
			 </a>	
			</th:block>
		</div>	
	</div>	
<!--end Prosduct-->
<!--Footer-->
	 <div id="footer" class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-4 wow animate__rubberBand">
			    <p><span class="title-footer">THÔNG TIN SHOP</span></p><br/>
			    <span>Yami là một thương hiệu thời trang uy tính, luôn đặt chất lượng sản phẩm tốt nhất cho khách hàng</span>
 			</div>
			<div class="col-sm-4 col-md-4 wow animate__rubberBand">
			    <p><span class="title-footer">LIÊN HỆ</span></p><br/>
			    <span>67 Ông ích đường, cẩm lệ, Đà nẵng</span>
			    <span>tangsang11@gmail.com</span>
			    <span>0763644168</span>
			</div>
			<div class="col-sm-4 col-md-4 wow animate__rubberBand">
			   <p><span class="title-footer">GÓP Ý</span></p> <br/>
			   <form action="" method="post">
			    <input name="tennhanvien"class="material-textinput" style="margin-bottom: 8px;" type="text" placeholder="Email" /><br/>
			   <textarea name="tuoi" rows="4" cols="30" style="margin-bottom: 8px;" placeholder="Nội Dung"></textarea>
			   <button class="material-primary-button">ĐỒNG Ý</button>
			   </form>
			</div>
		</div>
	</div>		
	<!--End Footer-->
			
<div th:replace="fragments/footer :: footer"></div>			
</body>

</html>